{% extends "base.html" %}

{% block title %}About Me{% endblock title %}

{% block body %}
<div class="my-0">
    <div class="p-5 text-center bg-body-tertiary">
      <div class="container py-5">
        <h1 class="text-body-emphasis">Thanks for visiting.</h1>
        <p class="col-lg-8 mx-auto lead">
          Thanks for visiting this page. This is a simple Tic Tac Toe game. Hope you liked it!!! Please provide your valuable feedback.
        </p>
      </div>
    </div>
    <div class="text-center"><a href="/feed-back"><button class="btn btn-success my-4">Feedback</button></a></div>
  </div>
</div>
<footer>
    <div class="text-center bg-primary py-2 footer" id="footer1">2023 | &copy; Niks</div>
</footer>
{% endblock body %}