{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="my-0">
    <div class="p-5 text-center bg-body-tertiary">
      <div class="container py-5">
        <h1 class="text-body-emphasis">Welcome to the Tic Tac Toe Game!</h1>
        <p class="col-lg-8 mx-auto lead">
          Click Below to get started.
        </p>
        <a href="/play"><button class="btn btn-primary">Start</button></a>
      </div>
    </div>
</div>
<footer>
    <div class="text-center bg-primary py-2 footer" id="footer1">2023 | &copy; Niks</div>
</footer>
{% endblock body %}